<h1>This is Alglornrithm Module</h1>
<form method="POST">
	{{form.errors}}
	{% if input_error %}
	<h1>please input again</h1>
	{% endif %}
	{{form.csrf_token}}
	name: 
	{{form.name}}
	<br>
	data1: {{form.data1}}
	data2: {{form.data2}}
	<br>
	data3: {{form.data3}}
	data4: {{form.data4}}
	<br>
	<button type="submit">submit</button>
</form> 	
<a href="{{url_for('index')}}">Back to index</a>