<h1>This is JPFLask project!</h1>
<a href="{{url_for('alglornrithm.index')}}">Go to Alglornrithm Module</a>
<br>
{% if not current_user.is_authenticated %}
<a href="{{ url_for('user.login') }}">
  login
</a>
<a href="{{ url_for('user.register') }}">
  register
</a>
{% else %}
Hello {{ current_user.username }}
<br>
<a href="{{ url_for('user.logout') }}">
  logout
</a>
{% endif %}