<h1>login</h1>
<form method="POST">
  {{ form.csrf_token }}
  {{ form.username.label }}
  {{ form.username }}
  <!-- password: <input type="text" name="lname"><br> -->
  {{ form.password.label }}
  {{ form.password }}
  <input type="submit" value="Submit">
</form>