<h1>register</h1>
<form method="POST">
  {{ form.csrf_token }}
  {% if duplicate_error %}
    already have this username
  {% endif %}
  {{ form.errors }} <br>
  {{ form.username.label }}
  {{ form.username }}
  {{ form.password.label }}
  {{ form.password }}
  <br>
  {{ form.email.label }}
  {{ form.email }}  
  <input type="submit" value="Submit">
</form>